.hide {
  display: none;
}

.car {
  position: absolute;
  bottom: 100px;
  margin: auto;
  width: 100px;
  height: 50px;
  background-color:transparent;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  /* background-image: url('https://vectorified.com/images/pacman-ghost-icon-5.png'); */
  /* background-image: url('https://thumbs.gfycat.com/BigCaringCrocodile-small.gif'); */
  background-image: url('https://media2.giphy.com/media/DuApP5Rpl4Hza/source.gif');
  background-size: cover;
  /* border: 1px solid #efefef; */
  border-radius: 10%;
}

.koin{
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: rgb(47, 245, 8);
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
}

.batu {
  position: absolute;
  bottom: 100px;
  left: auto;
  width: 50px;
  height: 100px;
  background-color:transparent;
  line-height: 30px;
  font-size: 1px;
  text-align: center;
  vertical-align: middle;
  background-image: url('http://cdn.lowgif.com/full/af641fc38c0726bd-flying-bird-gif-transparent-gm6-info.gif');
  background-size: cover;
  /* border: 1px solid #efefef; */
  border-radius: 10%;
}
/* 
.line {
  position: absolute;
  height: 100px;
  width: 10px;
  margin-left: 195px;
  background-color: white;
} */

.score,.bensin_stat{
  background-color: skyblue;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}

.gameArea {
  background-color: skyblue;
  width: 500px;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.startScreen {
  position: center;
  background-color: whitesmoke;
  color: black;
  /* position: absolute; */
  left: auto;
  right: auto;
  top: 100px;
  z-index: 1;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  margin: auto;
  width: 370px;
  font-family: sans-serif;
}
