.hide {
  display: none;
}

.koin{
  position: absolute;
  /* bottom: 100px; */
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: rgb(47, 245, 8);
  /* line-height: 38px; */
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  /* background-image: url(car2.png); */
  /* background-size: cover; */
}

.car,
.batu {
  position: absolute;
  bottom: 100px;
  left: auto;
  width: 50px;
  height: 100px;
  background-color: white;
  line-height: 38px;
  font-size: 1.7em;
  text-align: center;
  vertical-align: middle;
  /* background-image: url(car2.png); */
  background-size: cover;
}

.line {
  position: absolute;
  height: 50px;
  width: 10px;
  margin-left: 195px;
  background-color: white;
}

.score,.bensin_stat{
  background-color: black;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: fantasy;
}

.gameArea {
  background-color: black;
  width: 400px;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.startScreen {
  /* position: absolute; */
  background-color: red;
  /* left: 25%; */
  left: auto;
  right: auto;
  top: 100px;
  color: white;
  z-index: 1;
  text-align: center;
  border: 1px solid red;
  padding: 15px;
  margin: auto;
  /* width: 50%; */
  width: 370px;
  font-family: sans-serif;
}